<div class="container">
  <div class="row">
    <div class="col-md-5">
      <%= render "layouts/profile_summary" %>
    </div>

    <div class="col-md-7">
      <!--  Feed  -->
      <h1>What are the cool people saying?</h1>

      <div class="container">
        <div class="row">
            <%= render "status" %>
        </div>
      </div>
    </div>
  </div>
</div>
