@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 0px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* custom */

.twitter-counts {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.profile-extras {
  font-size: small;
  vertical-align: top;
}

.labels {
  font-weight: bold;
  padding-right: 5px;
}

.well {
  background-color: white;
  box-shadow: 3px 3px 10px black;
}

.profile-status {
  margin: 3%;
}

.small-profile {
  margin-top: 5px;
  margin-bottom: 10px;
}

/* glyphicons */

.big-glyph {
  font-size: x-large;
}

.favorited {
  color: hotpink;
  &:hover {
      color: pink;
    }
}

.retweeted {
  color: hotpink;
  &:hover {
      color: pink;
    }
}

.trash {
  color: red;
  float: right;
  &:hover {
    color: hotpink;
  }
}

.fire {
  color: red;
  font-size: small;
  &:hover {
    color: orange;
  }
}

.extras-separator {
  border-color: #ddd;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* buttons */

.btn {
  margin-top: 8px
}
